:root {
  --main-color: #ef233c;
  --secondary-color: #edf2f4;
  --main-text-color: #d80032;
  --secondary-text-color: #2b2d42;
  --send-message-form: #8d99ae;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
}

#root {
  height: 100%;
}
.App {
  height: 100%;
}

.LoginBlock h1,
.LoginBlock h3,
.LoginBlock p {
  text-align: center;
}

.disabled {
  display: none;
}

.Menu {
  border-radius: 10px 10px 0 0;
  box-shadow: var(--secondary-color) -5px -5px 5px;
  width: 100%;
  bottom: 0;
  height: 75px;
  position: fixed;
  background-color: var(--main-color);
  font-weight: 600;
  color: var(--secondary-color);
}

.Menu button {
  border: none;
  background: none;
  outline: none;
}

.MenuIcon {
  width: 45px;
}

.menuActive {
  border-bottom: solid white 3px;
}

.ConversationScroll {
  /*overflow: scroll;*/
}

.ConversationDeleteButton button {
  border: none;
  background: none;
}

.ConversationDeleteButton button:focus {
  outline: 0;
}

.ConversationDeleteImg {
  width: 25px !important;
  margin: auto;
  padding: 0px 5px !important;
}

.ConversationDeleteImgRotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ConversationConfirmDelete {
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 5px 20px;
  color: var(--secondary-color);
  font-weight: bold;
  border: none;
}

.ConversationConfirmDelete:focus {
  outline: 0;
}

a.ConversationListLink:link,
a.ConversationListLink:hover {
  text-decoration: none;
}

.ConversationList h1 {
  font-weight: 600;
}

.conversationlistitem a:link {
  text-decoration: none;
}

.ConversationListIcon img,
.ConversationListItem div img {
  width: 50px;
}

.ConversationLink h3 {
  color: var(--main-color);
  font-weight: bold;
}

.ConversationIcon div,
.AccountIcon div {
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px var(--secondary-text-color);
}

.ConversationIcon div span,
.AccountIcon div span {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
}

.ConversationEdit button {
  background: transparent;
  border: none;
}

.ConversationEdit button:focus {
  outline: 0;
}

.ConversationEdit button img {
  width: 30px;
}

.ConversationNotification {
  background-color: var(--send-message-form);
  color: var(--secondary-color);
  width: 20px;
  font-size: 10px;
  height: 20px;
  border-radius: 50%;
}

.ConversationBack {
  float: left;
  border: 0;
  background: none;
  color: var(--main-color);
}

.ConversationInfoIcon button {
  background: transparent;
  border: none;
}

.ConversationInfoIcon button:focus {
  outline: 0;
}

.ConversationInfoIcon button img {
  width: 20px;
}

.ConversationAddMembers button {
  border: none;
  background: transparent;
  color: var(--main-color);
}

.NewConversationForm {
  width: 75%;
}

.NewConversationForm hr {
  margin-bottom: 0;
}

.NewConversationForm button {
  border: 0;
  color: var(--main-color);
  background: none;
  font-size: 24px;
}

.SignOut button {
  width: 200px;
  border: 0;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: var(--secondary-color);
}

.ConversationInput {
  position: fixed;
  bottom: 80px;
  background-color: white;
}

.ConversationInput form {
  padding: 10px;
}

.AccountSettings ul {
  padding: 0;
}

li {
  list-style-type: none;
}
.message .message-username {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.activeUserClass-message-username {
  display: none;
}
.activeUserClass-message-text {
  background: var(--secondary-text-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
